body {
    background-color: lightblue;
    font-family: verdana;
    font-size: 20px;
  }
  
  h1 {
    color: black;
    text-align: left;
  }
  h2 {
    color: orange;
    text-align: left;
  }
  
  p {
    font-family: verdana;
    font-size: 20px;
  }
  button{
    background-color: coral;
    font-size: 20px;
  }